/* colors */
$prim-dark-violet: hsl(256, 26%, 20%);
$prim-gray-blue: hsl(216, 30%, 68%);
$neu-dark-violet: hsl(270, 9%, 17%);
$neu-dark-gray-violet: hsl(273, 4%, 51%);
$neu-very-light-gray: hsl(0, 0%, 98%);

$white: hsl(0, 0%, 100%);

/* fonts */
$font-headings: "DM Serif Display", serif;
$font-body: "Karla", sans-serif;

$font-regular: 400;
$font-bold: 700;
